{{#if this.shouldDisplay}}
  <div
    class="{{concat (theme-setting 'plugin_outlet') '-outlet'}} search-banner"
  >
    <div
      class="custom-search-banner"
      {{did-insert this.didInsert}}
      {{will-destroy this.willDestroy}}
    >
      <div class="wrap custom-search-banner-wrap">
        <h1>{{html-safe (theme-i18n "search_banner.headline")}}</h1>
        <PluginOutlet @name="search-banner-below-headline" />
        <p>{{html-safe (theme-i18n "search_banner.subhead")}}</p>
        <div class="search-menu">
          {{#unless this.buttonText}}
            <SearchIcon />
          {{/unless}}
          <SearchMenu />
          {{#if this.buttonText}}
            <SearchIcon
              @buttonText={{this.buttonText}}
              @buttonClass="has-search-button-text"
            />
          {{/if}}
        </div>
        <PluginOutlet @name="search-banner-below-input" />
      </div>
    </div>
  </div>
{{/if}}