{{#if shouldDisplay}}
  <div class="custom-search-banner" >
    <div class="wrap custom-search-banner-wrap">
      <h1>{{theme-i18n "search_banner.headline"}}</h1>
      <p>{{theme-i18n "search_banner.subhead"}}</p>
      <span>Check out our <a href="{{theme-setting 'banner_link_one'}}">{{theme-setting 'banner_title_one'}}</a> {{d-icon 'external-link-alt'}}</span>
      {{mount-widget widget="search-widget"}}
    </div>
  </div>
{{/if}}
